In [7]:
%pwd

'/Users/b-22/DA_practice/DA_practice/Data_Analysis/note'

In [2]:
import os
os.getcwd()

'/Users/b-22/DA_practice/DA_practice/Data_Analysis/note/first'

In [3]:
import pandas as pd

In [6]:
pwd

'/Users/b-22/DA_practice/DA_practice/Data_Analysis/note/first'

In [10]:
df = pd.read_csv("/Users/b-22/DA_practice/DA_practice/data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv")

In [36]:
df

   �߻���,�־�,����Ǽ�,����ڼ�,�߻��ڼ�,����ڼ�,�λ�Ű��ڼ�
0                     01,��,8682,98,2209,9440,759
1                     01,��,5798,92,1539,6349,530
2                     02,��,8056,95,2149,8710,710
3                     02,��,5228,86,1419,5553,500
4                  03,��,10393,109,2600,11132,880
5                     03,��,5607,78,1449,5930,467
6                  04,��,10460,93,2797,11356,1055
7                     04,��,5876,89,1609,6181,551
8                 05,��,11668,135,3132,12618,1178
9                     05,��,5884,68,1576,6233,603
10                06,��,10962,114,2881,11797,1092
11                    06,��,5754,88,1601,5893,613
12                07,��,10647,105,2755,11552,1138
13                   07,��,5931,100,1554,6165,549
14                08,��,11185,136,2990,12252,1111
15                   08,��,6027,110,1632,6287,641
16                09,��,11458,130,3063,12396,1119
17                   09,��,6402,109,1777,6559,737
18                10,��,11039,141,3186,11609,1102
19                   10,��,6294,124,1814,6383,559
20                11,��,11397,139,3143,12183,1081
21                   11,��,6351,118,1706,6565,620
22                12,��,10540,107,2691,11407,1003
23                    12,��,6657,87,1717,7019,643